[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    '@account-abstraction/contracts/=lib/account-abstraction/contracts/',
    '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
    ]

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
